<h1 setBackground>This is App Component</h1>
<div appHover title="This is a div" setBackground class="container">
  <p>This is a demo HTML content to understand custom attribute directive </p>
</div>

<div appHighlight appHover >
  <p>This is a demo HTML content to understand @HostListener </p>
</div>
<div class="container" appHover appBetterhighlight [deafultColor]="'yellow'" [highlightColor]="'red'" >
  <p>This is a demo HTML content to understand @HostBinding </p>
</div>
<div class="container" appHover [appOtherBetterhighlight]="'pink'" [deafultColor]="'green'" [title]="'Title example'"  >
  <p>This is a demo HTML content to understand @HostBinding </p>
</div>

<div [appClass]="{container:true,'change-font':true}">
  <p>This is a demo HTML content to understand custom ngClass directive </p>
</div>

<div class="container" [appStyle]="{backgroundColor:active ?'pink':'green',color: 'white',fontWeight:'bold'}">
  <p>This is a demo HTML content to understand custom ngStyle directive </p>
</div>
<button  (click)="displayNotice()" class="btn btn-notice">{{buttonText}}</button>
<div *ngIf="display; else myVar" class="info-container notice">
  <h3>This is an important notice!</h3>
  <p>This is a notice issued for all website users.</p>
</div>
<ng-template #myVar>
  <p>This is an example paragraph.</p>
</ng-template>
<ng-template [ngIf]="display" [ngIfElse]="myVar2">
  <div class="info-container notice">
    <h3>This is an important notice!</h3>
    <p>This is a notice issued for all website users.</p>
  </div>
</ng-template>
<ng-template #myVar2>
  <p>This is another example paragraph.</p>
</ng-template>